.sign-in{
    width: 430px;
    display:flex;
    flex-direction:column;

    .title{
        margin:1000px 0;
    }
    .buttons{
       display: flex;
       justify-content: space-between;
    }

}